/* NO classes or IDs */

/* Please make only "Just kidding!" yellow */
section h2 {
  color: yelow;
}
/* Please make only "twitter" red and 20px */
aside p a {
  color: red;
  font-size: 20px;
}
/* Please make "Really hot" purple & "Like WILD hot" larger and blue  */
article h2 {
  color: purple;
}

/* If there's an h2 that have a sibling that is h2 that have article parent then make it larger and blue */
article h2 + h2 {
  color: blue;
  font-size: 30px;
}
/* Please make only bob and pizza green */
ul + ul a {
  color: green;
}
